Repository signalfx/splunk-otel-collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/gdi-docs

Made suggested changes in README.
  deployments/nomad/README.md
  examples/README.md
  examples/nomad/README.md
  examples/nomad/otel-demo.nomad
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add availability info
  cmd/translatesfx/README.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers

Skipping fluentd installation if alrady instaled
  docs/getting-started/windows-manual.md
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/fluentd.ps1
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add Hashicorp Nomad Support (#819)
  .github/workflows/nomad.yml
  CHANGELOG.md
  README.md
  deployments/nomad/README.md
  deployments/nomad/otel-agent.nomad
  deployments/nomad/otel-gateway.nomad
  examples/README.md
  examples/nomad/README.md
  examples/nomad/otel-demo.nomad
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/gdi-docs

Document windows service debug logging
  docs/getting-started/windows-installer.md
  docs/getting-started/windows-manual.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers

Remove k8s_tagger processor from full_config_linux.yaml
  cmd/otelcol/config/collector/full_config_linux.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Remove k8s_tagger processor from full_config_linux.yaml (#849)
  cmd/otelcol/config/collector/full_config_linux.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add commented passthrough configuration parameter
  cmd/otelcol/config/collector/agent_config.yaml
  cmd/otelcol/config/collector/ecs_ec2_config.yaml
  cmd/otelcol/config/collector/fargate_config.yaml
  cmd/otelcol/config/collector/full_config_linux.yaml
  cmd/otelcol/config/collector/gateway_config.yaml
  cmd/otelcol/config/collector/otlp_config_linux.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Document windows service debug logging (#847)
  docs/getting-started/windows-installer.md
  docs/getting-started/windows-manual.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers

Doc updates for linux and windows
  docs/getting-started/linux-installer.md
  docs/getting-started/linux-manual.md
  docs/getting-started/windows-installer.md
  docs/getting-started/windows-manual.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers

Adding fluentd in choco installation. (#806)
  .circleci/config.yml
  docs/getting-started/windows-manual.md
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/chocolateyinstall.ps1
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/common.ps1
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/fluentd.ps1
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/gdi-docs

Add config converter function to unsquash Splunk HEC exporter tls fields
  internal/configconverter/move_hec_tls.go
  internal/configconverter/move_hec_tls_test.go
  internal/configconverter/move_otlp_insecure.go
  internal/configconverter/move_otlp_insecure_test.go
  internal/configconverter/remove_ballast_key.go
  internal/configconverter/testdata/hec-tls.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Enable MoveHecTLC config conversion
  cmd/otelcol/main.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Doc updates for linux and windows (#826)
  docs/getting-started/linux-installer.md
  docs/getting-started/linux-manual.md
  docs/getting-started/windows-installer.md
  docs/getting-started/windows-manual.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers

Add config converter function to unsquash Splunk HEC exporter tls fields (#832)
  cmd/otelcol/main.go
  internal/configconverter/move_hec_tls.go
  internal/configconverter/move_hec_tls_test.go
  internal/configconverter/move_otlp_insecure.go
  internal/configconverter/move_otlp_insecure_test.go
  internal/configconverter/remove_ballast_key.go
  internal/configconverter/testdata/hec-tls.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Fix breaking config map and tracer changes
  cmd/otelcol/main.go
  internal/components/components.go
  internal/configprovider/config_source_provider.go
  internal/configprovider/config_source_provider_test.go
  internal/configprovider/manager.go
  internal/configprovider/manager_test.go
  internal/configprovider/testconfigsource_test.go
  internal/configsource/envvarconfigsource/source.go
  internal/configsource/envvarconfigsource/source_test.go
  internal/configsource/etcd2configsource/source.go
  internal/configsource/includeconfigsource/source.go
  internal/configsource/includeconfigsource/source_test.go
  internal/configsource/vaultconfigsource/source.go
  internal/configsource/zookeeperconfigsource/source.go
  internal/receiver/smartagentreceiver/factory.go
  internal/receiver/smartagentreceiver/output.go
  internal/receiver/smartagentreceiver/output_test.go
  internal/receiver/smartagentreceiver/output_traces_test.go
  internal/receiver/smartagentreceiver/receiver.go
  internal/receiver/smartagentreceiver/receiver_test.go
  tests/testutils/otlp_receiver_sink_test.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update renamed components
  cmd/otelcol/main.go
  internal/components/components.go
  internal/configconverter/move_otlp_insecure.go
  internal/configconverter/parser_provider.go
  internal/configconverter/parser_provider_test.go
  internal/configconverter/remove_ballast_key.go
  internal/configprovider/builder_test.go
  internal/configprovider/config_source_provider.go
  internal/configprovider/config_source_provider_test.go
  internal/configprovider/manager.go
  internal/configprovider/manager_test.go
  internal/configprovider/parser.go
  internal/configprovider/parser_test.go
  internal/configsource/envvarconfigsource/config_test.go
  internal/configsource/envvarconfigsource/source.go
  internal/configsource/etcd2configsource/config_test.go
  internal/configsource/includeconfigsource/config_test.go
  internal/configsource/vaultconfigsource/config_test.go
  internal/configsource/zookeeperconfigsource/config_test.go
  internal/exporter/httpsinkexporter/config_test.go
  internal/exporter/httpsinkexporter/factory.go
  internal/extension/smartagentextension/config.go
  internal/extension/smartagentextension/config_linux_test.go
  internal/extension/smartagentextension/config_test.go
  internal/extension/smartagentextension/config_windows_test.go
  internal/extension/smartagentextension/factory.go
  internal/extension/smartagentextension/factory_test.go
  internal/receiver/smartagentreceiver/config.go
  internal/receiver/smartagentreceiver/config_linux_test.go
  internal/receiver/smartagentreceiver/config_test.go
  internal/receiver/smartagentreceiver/converter/metrics.go
  internal/receiver/smartagentreceiver/converter/metrics_test.go
  internal/receiver/smartagentreceiver/factory.go
  internal/receiver/smartagentreceiver/output_test.go
  internal/receiver/smartagentreceiver/receiver_test.go
  tests/testutils/pdata_to_resource_metrics.go
  tests/testutils/pdata_to_resource_metrics_test.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers

Update core/contrib deps
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Account for k8s_tagger rename
  internal/components/components_test.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update signalfx exporter for contrib #5756
  go.mod
  go.sum
  tests/go.mod
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Rename k8s_tagger to k8sattributes
  cmd/otelcol/main.go
  internal/configconverter/k8s_tagger.go
  internal/configconverter/k8s_tagger_test.go
  internal/configconverter/testdata/k8s-tagger.yaml
  internal/configconverter/testdata/k8sattributes.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

improve k8s_tagger rename test
  internal/configconverter/testdata/k8s-tagger.yaml
  internal/configconverter/testdata/k8sattributes.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

reduce collectd-cassandra test flake
  tests/receivers/smartagent/collectd-cassandra/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-cassandra/testdata/resource_metrics/default.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update hec tls config map usage
  internal/configconverter/move_hec_tls.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

move from retracted 0.37.0 to 0.37.1
  go.mod
  go.sum
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update changelog
  CHANGELOG.md
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers

Update bundled Smart Agent to v5.14.2
  CHANGELOG.md
  internal/buildscripts/packaging/smart-agent-release.txt
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update github.com/signalfx/signalfx-agent to main
  go.mod
  go.sum
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add commented passthrough configuration parameter (#852)
  cmd/otelcol/config/collector/agent_config.yaml
  cmd/otelcol/config/collector/ecs_ec2_config.yaml
  cmd/otelcol/config/collector/fargate_config.yaml
  cmd/otelcol/config/collector/full_config_linux.yaml
  cmd/otelcol/config/collector/gateway_config.yaml
  cmd/otelcol/config/collector/otlp_config_linux.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

checkpoint migration
  Makefile
  cmd/migratecheckpoint/README.md
  cmd/migratecheckpoint/main.go
  cmd/otelcol/Dockerfile
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/gdi-docs

add logging and fix err handling
  cmd/migratecheckpoint/README.md
  cmd/migratecheckpoint/main.go
  go.mod
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

separate library code and add test
  cmd/migratecheckpoint/README.md
  cmd/migratecheckpoint/filestorage.go
  cmd/migratecheckpoint/log_library.go
  cmd/migratecheckpoint/main.go
  cmd/migratecheckpoint/main_test.go
  cmd/migratecheckpoint/testdata/calico_node.log
  cmd/migratecheckpoint/testdata/loggen.log
  cmd/migratecheckpoint/testdata/otelcollector.log
Owners: @signalfx/gdi-docs, @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

checkpoint migration (#843)
  Makefile
  cmd/migratecheckpoint/README.md
  cmd/migratecheckpoint/filestorage.go
  cmd/migratecheckpoint/log_library.go
  cmd/migratecheckpoint/main.go
  cmd/migratecheckpoint/main_test.go
  cmd/migratecheckpoint/testdata/calico_node.log
  cmd/migratecheckpoint/testdata/loggen.log
  cmd/migratecheckpoint/testdata/otelcollector.log
  cmd/otelcol/Dockerfile
  go.mod
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/gdi-docs

Feature: Make arm64 container
  Makefile
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

docker_build_deploy.sh
  docker_build_deploy.sh
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

.github/CODEOWNERS:

* @signalfx/gdi-data-collection-approvers @signalfx/gdi-data-collection-maintainers

.github/CODEOWNERS @signalfx/gdi-data-collection-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers
*.rst @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers
docs/ @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers
README* @signalfx/gdi-docs @signalfx/gdi-data-collection-approvers
