Repository signalfx/splunk-otel-collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add Heroku buildpack
  .gitignore
  README.md
  deployments/heroku/README.md
  deployments/heroku/setup/agent.sh
  deployments/heroku/setup/config.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Add test
  deployments/heroku/test/Procfile
  deployments/heroku/test/README.md
  deployments/heroku/test/config.yaml
  deployments/heroku/test/package.json
  deployments/heroku/test/send_metrics.js
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update README
  deployments/heroku/README.md
Owners: @signalfx/docs, @signalfx/gdi-specification-approvers, @signalfx/gdi-specification-maintainers

Update to use the ballast memory instead of the flag: (#567)
  cmd/otelcol/config/collector/agent_config.yaml
  cmd/otelcol/config/collector/full_config_linux.yaml
  cmd/otelcol/config/collector/gateway_config.yaml
  cmd/otelcol/config/collector/otlp_config_linux.yaml
  cmd/otelcol/config/collector/upstream_agent_config.yaml
  cmd/otelcol/main.go
  cmd/otelcol/main_test.go
  internal/components/components.go
  internal/components/components_test.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update expected resource metric types
  tests/receivers/smartagent/collectd-activemq/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-activemq/testdata/resource_metrics/default.yaml
  tests/receivers/smartagent/collectd-apache/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-apache/testdata/resource_metrics/default.yaml
  tests/receivers/smartagent/collectd-cassandra/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-cassandra/testdata/resource_metrics/default.yaml
  tests/receivers/smartagent/collectd-couchbase/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-elasticsearch/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-hadoop/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-kafka/testdata/resource_metrics/all_broker.yaml
  tests/receivers/smartagent/collectd-kafka/testdata/resource_metrics/all_consumer.yaml
  tests/receivers/smartagent/collectd-kafka/testdata/resource_metrics/all_producer.yaml
  tests/receivers/smartagent/collectd-nginx/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-postgresql/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-solr/testdata/resource_metrics/all.yaml
  tests/receivers/smartagent/collectd-spark/testdata/resource_metrics/all_master.yaml
  tests/receivers/smartagent/collectd-spark/testdata/resource_metrics/all_worker.yaml
  tests/receivers/smartagent/telegraf-sqlserver/testdata/resource_metrics/all.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

.github/CODEOWNERS:

* @signalfx/gdi-data-collection-approvers @signalfx/gdi-data-collection-maintainers

.github/CODEOWNERS @signalfx/gdi-data-collection-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
