Repository signalfx/splunk-otel-collector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/docs

Add caveats to translatesfx readme (#771)
  cmd/translatesfx/README.md
Owners: @signalfx/docs, @signalfx/gdi-data-collection-approvers

Exclude build-id links from rpm
  internal/buildscripts/packaging/fpm/rpm/build.sh
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Exclude build-id links from rpm (#773)
  internal/buildscripts/packaging/fpm/rpm/build.sh
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Use sapm for trace exporter
  cmd/translatesfx/translatesfx/otel.go
  cmd/translatesfx/translatesfx/otel_test.go
  cmd/translatesfx/translatesfx/sa.go
  cmd/translatesfx/translatesfx/sa_test.go
  cmd/translatesfx/translatesfx/testdata/otel-e2e-expected.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Correct the agent config filename
  README.md
Owners: @signalfx/docs, @signalfx/gdi-data-collection-approvers

Use sapm for trace exporter (#775)
  cmd/translatesfx/translatesfx/otel.go
  cmd/translatesfx/translatesfx/otel_test.go
  cmd/translatesfx/translatesfx/sa.go
  cmd/translatesfx/translatesfx/sa_test.go
  cmd/translatesfx/translatesfx/testdata/otel-e2e-expected.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Correct the agent config filename (#776)
  README.md
Owners: @signalfx/docs, @signalfx/gdi-data-collection-approvers

Update internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update internal/buildscripts/packaging/choco/splunk-otel-collector/tools/VERIFICATION.txt
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/VERIFICATION.txt
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update internal/buildscripts/packaging/choco/splunk-otel-collector/tools/LICENSE.txt
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/LICENSE.txt
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add translatesfx build artifacts
  Makefile
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add file:// to exclude rule for link check
  .github/workflows/lychee-push.yml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

fix broken link
  docs/components.md
Owners: @signalfx/docs, @signalfx/gdi-data-collection-approvers

Add translatesfx build artifacts (#780)
  .github/workflows/lychee-push.yml
  Makefile
  docs/components.md
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/docs

Add sfx exporter to traces pipeline unless sendTraceHostCorrelationMetrics is false
  cmd/translatesfx/translatesfx/otel.go
  cmd/translatesfx/translatesfx/otel_test.go
  cmd/translatesfx/translatesfx/testdata/otel-e2e-expected.yaml
  cmd/translatesfx/translatesfx/testdata/sa-no-trace-correlation.yaml
  cmd/translatesfx/translatesfx/translate.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Adding make.ps1 and updating choco scripts
  internal/buildscripts/packaging/choco/make.ps1
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/LICENSE.txt
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/VERIFICATION.txt
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/chocolateyinstall.ps1
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/common.ps1
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

start otel as service after instalation
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/chocolateyinstall.ps1
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/chocolateyuninstall.ps1
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/common.ps1
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Updating nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add sfx exporter to traces pipeline unless sendTraceHostCorrelationMetrics is false (#781)
  cmd/translatesfx/translatesfx/otel.go
  cmd/translatesfx/translatesfx/otel_test.go
  cmd/translatesfx/translatesfx/testdata/otel-e2e-expected.yaml
  cmd/translatesfx/translatesfx/testdata/sa-no-trace-correlation.yaml
  cmd/translatesfx/translatesfx/translate.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

README.md Update
  .circleci/config.yml
  README.md
  docs/getting-started/windows-manual.md
  internal/buildscripts/packaging/choco/make.ps1
  internal/buildscripts/packaging/choco/splunk-otel-collector/splunk-otel-collector.nuspec
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/chocolateyinstall.ps1
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/docs

Resolving choco test on circileci
  .circleci/config.yml
  internal/buildscripts/packaging/choco/splunk-otel-collector/tools/chocolateyinstall.ps1
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add upgrade guidelines to README
  README.md
Owners: @signalfx/docs, @signalfx/gdi-data-collection-approvers

Add memory ballast deprecation warning
  internal/configconverter/ballast_remover.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Add upgrade guidelines to README (#784)
  README.md
Owners: @signalfx/docs, @signalfx/gdi-data-collection-approvers

Add memory ballast deprecation warning (#785)
  internal/configconverter/ballast_remover.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update CHANGELOG.md
  .circleci/config.yml
  CHANGELOG.md
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers, @signalfx/docs

Allow 200 and 429 codes for lychee
  .github/workflows/lychee-push.yml
  .github/workflows/lychee-weekly.yml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Allow 200 and 429 codes for lychee (#787)
  .github/workflows/lychee-push.yml
  .github/workflows/lychee-weekly.yml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update deps to v0.36.0
  go.mod
  go.sum
  internal/components/components.go
  tests/go.mod
  tests/go.sum
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Bump smart agent bundle to v5.14.0
  internal/buildscripts/packaging/smart-agent-release.txt
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Bump github.com/signalfx/signalfx-agent to main
  go.mod
  go.sum
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Fixes for breaking upstream changes
  cmd/otelcol/main.go
  internal/components/components.go
  internal/configconverter/ballast_remover.go
  internal/configconverter/parser_provider.go
  internal/configconverter/parser_provider_test.go
  internal/configprovider/config_source_provider.go
  internal/configprovider/config_source_provider_test.go
  internal/configprovider/manager.go
  internal/configprovider/manager_test.go
  internal/configprovider/parser.go
  internal/configprovider/parser_test.go
  internal/configsource/envvarconfigsource/config_test.go
  internal/configsource/envvarconfigsource/source.go
  internal/configsource/etcd2configsource/config_test.go
  internal/configsource/includeconfigsource/config_test.go
  internal/configsource/includeconfigsource/source_test.go
  internal/configsource/vaultconfigsource/config_test.go
  internal/configsource/vaultconfigsource/source_test.go
  internal/configsource/zookeeperconfigsource/config_test.go
  internal/extension/smartagentextension/config_test.go
  internal/receiver/smartagentreceiver/factory_test.go
  tests/testutils/pdata_to_resource_metrics.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Use new run api from collector v.36
  cmd/otelcol/main.go
  tests/go.sum
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @signalfx/docs, @signalfx/gdi-data-collection-approvers

Update configs for tls/insecure option
  cmd/otelcol/config/collector/agent_config.yaml
  cmd/otelcol/config/collector/full_config_linux.yaml
  cmd/otelcol/config/collector/upstream_agent_config.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

missing test insecure tls settings
  tests/receivers/smartagent/collectd-hadoop/testdata/all_metrics_config.yaml
  tests/receivers/smartagent/collectd-kafka/testdata/all_broker_metrics_config.yaml
  tests/receivers/smartagent/collectd-kafka/testdata/all_consumer_metrics_config.yaml
  tests/receivers/smartagent/collectd-kafka/testdata/all_producer_metrics_config.yaml
  tests/receivers/smartagent/collectd-nginx/testdata/all_metrics_config.yaml
  tests/receivers/smartagent/collectd-postgresql/testdata/all_metrics_config.yaml
  tests/receivers/smartagent/collectd-solr/testdata/all_metrics_config.yaml
  tests/receivers/smartagent/collectd-spark/testdata/all_master_metrics_config.yaml
  tests/receivers/smartagent/collectd-spark/testdata/all_worker_metrics_config.yaml
  tests/receivers/smartagent/collectd-tomcat/testdata/default_metrics_config.yaml
  tests/receivers/smartagent/haproxy/testdata/all_metrics_config.yaml
  tests/receivers/smartagent/postgresql/testdata/all_metrics_config.yaml
  tests/testutils/testdata/collector_process_config.yaml
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

correct failing vault config source test
  internal/configsource/vaultconfigsource/source_test.go
Owners: @signalfx/gdi-data-collection-approvers, @signalfx/gdi-data-collection-maintainers

.github/CODEOWNERS:

* @signalfx/gdi-data-collection-approvers @signalfx/gdi-data-collection-maintainers

.github/CODEOWNERS @signalfx/gdi-data-collection-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs @signalfx/gdi-data-collection-approvers
*.rst @signalfx/docs @signalfx/gdi-data-collection-approvers
docs/ @signalfx/docs @signalfx/gdi-data-collection-approvers
README* @signalfx/docs @signalfx/gdi-data-collection-approvers
